
#macro( writeMenu )
  
  #if ($path == 'home.htm')
	 	<span class="menu-selected">Home</span> 
  #else
    <a class="menu" href="home.htm">Home</a>
	#end
	&nbsp;|&nbsp;

  #if ($path == 'issue.htm')
	  <span class="menu-selected">Issue</span>
	#else
	  <a class="menu" href="issue.htm">Issue</a>
	#end	
	&nbsp;|&nbsp;	
	  
	#if ($path == 'logout.htm')
    <span class="menu-selected">Log Out</span> 
  #else
    <a class="menu" href="logout.htm">Log Out</a> 
  #end
  
#end
