body, table, p {
  font-family: verdana, arial, helvetica, lucida-sans, sans-serif; 
  font-size: 12px;
}

a:visited {
  color: blue;
}

.menu {
  color: white;
  text-decoration: none;
}

.menu:visited {
  color: white;
}

.menu:hover {
  color: yellow;
}

h1  { 
  font-size: 24px;
  font-weight: bold;
}

th {
  color: white;
}

tr.titleBar {
  background-color: black;
  color: white;
}

td.titleText {
  font-weight: bold;
  letter-spacing: 0.2em; 
  margin: 2px 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-decoration: none;
}
