a.error {
	color: red;
}
a:visited.error {
	color: red;
}
input.disabled {
	background: lightgrey;
}
input.error {
	background: yellow;
}
select.error {
	background: yellow;
}
span.error {
	color: red;
}
table.fields {
	border: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: baseline;
}
table.errors {
	border: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: baseline;
}
table.buttons {
	border: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: baseline;
	margin-top: 1em;
}
