package ${package};

import net.sf.click.Page;
import net.sf.click.control.Form;

public class ${classname} extends Page {
	
	private Form form = new Form("form");
	
	public ${classname}(){
		addControl(form);
	}

}
