<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            filenames="cayenne.xml"
            icon="icons/cayenne.png"
            id="org.apache.click.eclipse.cayenne.editor.CayenneModelerLauncher"
            launcher="org.apache.click.eclipse.cayenne.editor.CayenneModelerLauncher"
            name="Cayenne Modeler">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.apache.click.eclipse.cayenne"
            name="Cayenne">
      </category>
      <wizard
            category="org.apache.click.eclipse.cayenne"
            class="org.apache.click.eclipse.cayenne.wizard.NewCayenneWizard"
            icon="icons/cayenne.png"
            id="org.apache.click.eclipse.cayenne.wizard"
            name="Cayenne Mapping Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.apache.click.eclipse.cayenne.CayenneClasspathVariableInitializer"
            variable="org.apache.click.eclipse.cayenne.classpathVariableInitializer">
      </classpathVariableInitializer>
   </extension>

</plugin>
