<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on an
   "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied.  See the License for the
   specific language governing permissions and limitations
   under the License.
-->

<menu>
  <menu label=" Home" path="home.htm" imageSrc="/assets/images/home.png">
    <menu label="BorderPage Class" path="source-viewer.htm?filename=WEB-INF/classes/org/apache/click/examples/page/BorderPage.java" title="BorderPage Java source" target="_blank"/>
    <menu label="Border Template HTML" path="source-viewer.htm?filename=border-template.htm" title="Page border HTML template" target="_blank" />
    <menu separator="true"/>
    <menu label="Javadoc API" path="javadoc/index.html" title="Examples HTML Javadoc API" target="_blank" />
    <menu separator="true"/>
    <menu label="click.xml" path="source-viewer.htm?filename=WEB-INF/click.xml" title="Click application descriptor" target="_blank" />
    <menu label="spring-beans.xml" path="source-viewer.htm?filename=WEB-INF/spring-beans.xml" title="Spring beans descriptor" target="_blank" />
    <menu label="web.xml" path="source-viewer.htm?filename=WEB-INF/web.xml" title="Web application descriptor" target="_blank" />
  </menu>

  <menu label="Intro Examples" path="#" imageSrc="/assets/images/intro.png">
    <menu label="Hello World" path="introduction/hello-world.htm"/>
    <menu label="Control Listener Type 1" path="introduction/control-listener-type-1.htm"/>
    <menu label="Control Listener Type 2" path="introduction/control-listener-type-2.htm"/>
    <menu separator="true"/>
    <menu label="Simple Table" path="introduction/simple-table.htm"/>
    <menu label="Advanced Table" path="introduction/advanced-table.htm"/>
    <menu separator="true"/>
    <menu label="Simple Form" path="introduction/simple-form.htm"/>
    <menu label="Advanced Form" path="introduction/advanced-form.htm"/>
    <menu separator="true"/>
    <menu label="Link List" path="introduction/link-list.htm"/>
  </menu>

  <menu label="General" path="#" imageSrc="/assets/images/general.png">
    <menu label="Direct Page" path="general/direct-page.htm" target="_blank"/>
    <menu label="Exception Demo" path="general/exception.htm"/>
    <menu label="Flash Attribute" path="general/flash.htm"/>
    <menu label="Page Imports" path="general/page-imports-example.htm"/>
    <menu label="Page Security" path="security/secure.htm"/>
    <menu separator="true"/>
    <menu label="Page Action Image" path="general/page-action-image.htm"/>
    <menu label="Page Action Link" path="general/page-action-link.htm"/>
    <menu separator="true"/>
    <menu label="JSP Hello World" path="jsp/hello-world.htm"/>
    <menu label="JSP Customer Table" path="jsp/customer-table.htm"/>
    <menu label="JSP Form Demo" path="jsp/edit-customer.htm"/>
    <menu label="JSP Page Navigation" path="jsp/navigation-a.htm"/>
    <menu label="JSP Multi Path Demo" path="jsp/multi-path-demo.htm"/>
    <menu separator="true"/>
    <menu label="Page Navigation" path="general/navigation-a.htm"/>
    <menu label="Page Flow Patterns" path="pageflow/start-page.htm"/>
    <menu label="Wizard Demo" path="wizard/wizard.htm"/>
    <menu separator="true"/>
    <menu label="Page Head Demo" path="general/page-head-demo.htm"/>
    <menu label="Control Head Demo" path="general/control-head-demo.htm"/>
    <menu separator="true"/>
    <menu label="Velocity Macro" path="velocity/velocity-macro.htm"/>
    <menu label="Velocity Simple Table" path="velocity/simple-table.htm"/>
    <menu label="Velocity Action Table" path="velocity/action-table.htm"/>
  </menu>

  <menu label=" Controls" path="#" imageSrc="/assets/images/controls.png">
    <menu label="Action Controls" path="control/action-demo.htm"/>
    <menu label="CheckList" path="control/check-list-demo.htm"/>
    <menu label="FieldSet" path="control/field-set-demo.htm"/>
    <menu label="FieldSeparator" path="control/field-separator-demo.htm"/>
    <menu label="FileField" path="control/file-upload.htm"/>
    <menu label="ImageSubmit" path="control/image-demo.htm"/>
    <menu label="Link Controls" path="control/link-demo.htm"/>
    <menu label="SubmitLink Control" path="control/submit-link-demo.htm"/>
    <menu label="Select" path="control/select-demo.htm"/>
    <menu separator="true"/>
    <menu label="Menu" path="control/menu-demo.htm"/>
    <menu label="PickList" path="control/pick-list-demo.htm"/>
    <menu label="RegexField" path="control/regex-demo.htm"/>
    <menu label="RichTextArea" path="control/email-form.htm"/>
    <menu separator="true"/>
    <menu label="Disabled behavior" path="control/disabled-demo.htm"/>
  </menu>

  <menu label=" Forms" path="#" imageSrc="/assets/images/form.png">
    <menu label="Standard Form Controls" path="form/standard-controls-form.htm"/>
    <menu label="Extra Form Controls" path="form/extra-controls-form.htm"/>
    <menu separator="true"/>
    <menu label="Form Properties" path="form/form-properties.htm"/>
    <menu label="Form Layout" path="form/form-layout.htm"/>
    <menu label="Multiple Forms" path="form/multiple-forms-demo.htm"/>
    <menu label="Search Form" path="form/search-form.htm"/>
    <menu separator="true"/>
    <menu label="Tabbed Form" path="form/tabbed-form-demo.htm"/>
    <menu label="Custom Form Layout" path="form/contact-details.htm"/>
    <menu separator="true"/>
    <menu label="Dynamic Form" path="form/dynamic/dynamic-form.htm"/>
    <menu label="Dynamic FieldSet" path="form/dynamic/dynamic-field-set.htm"/>
    <menu label="Dynamic Select" path="form/dynamic/dynamic-select.htm"/>
    <menu label="Populate on select" path="form/dynamic/populate-on-select.htm"/>
  </menu>

  <menu label=" Table" path="#" imageSrc="/assets/images/table.png">
    <menu label="Table Decorator" path="table/table-decorator.htm"/>
    <menu label="Table Footer" path="table/table-footer.htm"/>
    <menu label="Table Paging" path="table/table-paging.htm"/>
    <menu label="Table Paginator" path="table/table-paginator.htm"/>
    <menu label="Table Sorting" path="table/table-sorting.htm"/>
    <menu label="Table Styles" path="table/table-styles.htm"/>
    <menu separator="true"/>
    <menu label="FormTable" path="table/form-table.htm"/>
    <menu label="Edit FormTable" path="table/edit-form-table.htm"/>
    <menu separator="true"/>
    <menu label="Edit Table Pattern" path="table/edit-table.htm"/>
    <menu label="Search Table Pattern" path="table/search-table.htm"/>
    <menu separator="true"/>
    <menu label="Large Dataset Demo" path="table/large-dataset-demo.htm"/>
  </menu>

  <menu label=" Panels &amp; Trees " path="#" imageSrc="/assets/images/tree.png">
    <menu label="Simple Panel" path="panel/simple-panel-demo.htm"/>
    <menu label="List Panel" path="panel/list-panel-demo.htm"/>
    <menu label="Tabbed Panel" path="panel/tabbed-panel-demo.htm"/>
    <menu label="Tabbed Panel with Controls" path="panel/tabbed-panel-with-controls.htm"/>
    <menu label="Stateful Tabbed Panel" path="panel/stateful-tabbed-panel-demo.htm"/>
    <menu label="Filter Panel" path="panel/filter-panel-demo.htm"/>
    <menu label="Column Panel" path="panel/panel-column-demo.htm"/>
    <menu label="Reusable Panel" path="panel/reusable-panel-demo.htm"/>
    <menu separator="true"/>
    <menu label="Tree" path="tree/tree-page.htm"/>
    <menu label="Advanced Tree" path="tree/advanced-tree-page.htm"/>
    <menu label="Checkbox Tree" path="tree/checkbox-tree-page.htm"/>
    <menu label="Page Link Tree" path="tree/page-link-tree-page.htm"/>
  </menu>

  <menu label="Ajax" path="#" imageSrc="/assets/images/lightning.png">
    <menu label="Ajax Demo - Behavior" path="ajax/ajax-behavior.htm"/>
    <menu label="Ajax Demo - Page Action" path="ajax/page-action.htm"/>
    <menu label="Ajax Fallback Demo" path="ajax/ajax-fallback.htm"/>
    <menu separator="true"/>
    <menu label="JavaScript Ajax Demo" path="ajax/compare/javascript-ajax-demo.htm"/>
    <menu label="jQuery Ajax Demo" path="ajax/compare/jquery-ajax-demo.htm"/>
    <menu label="Prototype Ajax Demo" path="ajax/compare/prototype-ajax-demo.htm"/>
    <menu separator="true"/>
    <menu label="Table Ajax Demo" path="ajax/table/table-ajax.htm"/>
    <menu label="Search Table Ajax Demo" path="ajax/table/search-table-ajax.htm"/>
    <menu separator="true"/>
    <menu label="Simple Form Ajax Demo" path="ajax/form/simple-form-ajax.htm"/>
    <menu label="Advanced Form Ajax Demo" path="ajax/form/advanced-form-ajax.htm"/>
    <menu separator="true"/>
    <menu label="XML response" path="ajax/content/xml-response.htm"/>
    <menu label="JSON response" path="ajax/content/json-response.htm"/>
    <menu separator="true"/>
    <menu label="Accordion" path="ajax/accordion/accordion.htm"/>
    <menu label="Auto Complete Field" path="ajax/auto-complete.htm"/>
    <menu label="Live Scroller " path="ajax/scroller/ajax-live-scroller.htm"/>
    <menu label="Select" path="ajax/select/ajax-select.htm"/>
    <menu separator="true"/>
    <menu label="Ajax Redirect" path="ajax/ajax-redirect.htm"/>
    <menu label="Ajax Security" path="ajax/ajax-secure.htm"/>
  </menu>

  <menu label=" Integration" path="#" imageSrc="/assets/images/cayenne.png">
    <menu label="Spring Security (Acegi)" path="springsecurity/secure/secure.htm"/>
    <menu separator="true"/>
    <menu label="Apache Cayenne Form" path="cayenne/cayenne-form-page.htm"/>
    <menu label="Cayenne Tabbed Form" path="cayenne/tabbed-cayenne-form-page.htm"/>
    <menu label="PropertySelect Demo (1-to-*)" path="cayenne/accommodation-demo.htm"/>
    <menu label="PickList Demo (*-to-*)" path="cayenne/enrollment-demo.htm"/>
    <menu separator="true"/>
    <menu label="Apache POI Excel Export" path="general/excel-export.htm"/>
    <menu label="Export Table to Excel" path="general/excel-table-export.htm"/>
    <menu separator="true"/>
    <menu label="Quartz Scheduler" path="quartz/quartz-job-scheduler.htm"/>
  </menu>

</menu>
