/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* AutoCompleteTextField */
div.auto_complete {
	position: absolute;
	background-color: white;
	border: 0px solid #888;
	margin: 0px;
	padding: 0px;
}
div.auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}
div.auto_complete ul li {
	margin: 0;
	padding: 3px;
}
div.auto_complete ul li.selected {
	background-color: #ffb;
}

div.auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}

/* TabbedForm */
table.tf_tab {
	border-collapse: collapse;
}

td.tf_separator {
	border-bottom: 1px solid #336699;
}

td.tf_tab {
	border-left: 1px solid #336699;
	border-top: 1px solid #336699;
	border-right: 1px solid #336699;
	border-bottom: 1px solid #336699;
	padding: 5px;
	white-space: nowrap;
	text-decoration: none;
}

td.tf_sheet {
	border-left: 1px solid #336699;
	border-right: 1px solid #336699;
	border-bottom: 1px solid #336699;
	vertical-align: top;
	padding: 0.75em;
}

td.tf_error {
	color: red;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
}