<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>

	<menu label=" Home" path="user/home.htm" roles="user, admin"  imageSrc="/assets/home.png"/>

  	<menu label="User" path="user/home.htm" roles="user, admin">
  		<menu label="User Page 1" path="user/user-1.htm" roles="user, admin"/>
  		<menu label="User Page 2" path="user/user-2.htm" roles="user, admin"/>
  	</menu>

  	<menu label="Admin" path="admin/admin-1.htm" roles="admin">
  		<menu label="Admin Page 1" path="admin/admin-1.htm" roles="admin"/>
  		<menu label="Admin Page 2" path="admin/admin-2.htm" roles="admin"/>
  	</menu>

	<menu label="Logout" path="logout.htm" roles="user, admin"/>

</menu>