<html>
<head>
<title>Click Quick Start - $title</title>
<link rel="stylesheet" type="text/css" href="$context/assets/style.css" title="Style"/>
<link rel="stylesheet" type="text/css" href="$context/assets/menu.css" title="Style"/>
<script type="text/javascript" src="$context/assets/menu.js"></script>
$imports
</head>

<body>
 
  <div id="header">
  	<span id="title">project-name :: $title</span>
  </div>
  
#if ($rootMenu) 
  #writeMenu($rootMenu) 
#end

  <div id="container">
  
<h3 class="title">$title</h3>
  
#if ($errorReport) 
 The application encountered an unexpected error.
 <p/>
 To return to the application click <a href="$context">here</a>.
 <p/>
 
 #if ($mode != "production")
   To view the error details click <a href="#" onclick="displayError();">here</a>.
   <p/>
   $errorReport
   <p/>
 #end
#end

  </div>
 
</body>
</html>