
#*********************
 * Write generic form
 *********************#

#macro( writeForm $form )

<form method="$form.method" name="$form.name" action="$request.requestURI">

 ## Render hidden fields
 #foreach ($field in $form.fieldList)
  #if ($field.hidden) $field #end
 #end

 <table style="margin: 1em;">
  #if ($form.error) 
  <tr>
   <td colspan="2" style="color: red;" align="left"> $form.error </td>
  </tr>
  #end
  
 ## Render visible fields
 #foreach ($field in $form.fieldList)

  #if (!$field.hidden)
   #if (!$field.valid) 
   <tr>
    <td>&nbsp;</td>
    <td style="color: red;" align="left"> $field.error </td>
   </tr>
   #end

   <tr>
    <td align="right"> 
    #if ($field.required) 
     <span style="font-weight: 700;">$field.label</span>:
    #else
     $field.label:
    #end
    </td> 
    <td> $field </td>
   </tr>
  #end
 #end

  <tr><td>&nbsp;</td></tr>

  ## Render buttons
  <tr>
   <td>&nbsp;</td>
   <td align="left">
   #foreach ($button in $form.buttonList)
    $button 
   #end
   </td>
  </tr> 
 </table> 
 
</form>

#end


#*********************************
 * Write two tier horizontal menu
 ********************************#

#macro( writeMenu $rootMenu )

<table width="100%" border="1" bgcolor="#002866">
 <!-- Top Menu -->
 <tr>  
  <td> 
   <table border="1"> 
    <tr>
    #foreach ($menu in $rootMenu.children)
     #if ($menu.selected)
      <td class="menu-demo-selected">$menu.label</td>
     #else
      <td>
       <a class="menu-demo" href="$context/$menu.path" title="$menu.title">$menu.label</a>
      </td>
     #end
    #end
    </tr>
   </table>
  </td>
 </tr>
 <!-- Sub Menu -->
 <tr>  
  <td> 
   <table border="1"> 
    <tr>
    #if ($rootMenu.selectedChild)
     #foreach ($menu in $$rootMenu.selectedChild.children)
      #if ($menu.selected)
       <td class="menu-demo-selected">$menu.label</td>
      #else
       <td class="menu-demo">
        <a class="menu-demo" href="$context/$menu.path" title="$menu.title">$menu.label</a>
       </td>
      #end
     #end
    #else
       <td>&nbsp;</td>
    #end
    </tr>
   </table>
  </td>
 </tr>
</table>

#end

