
#*********************
 * Write generic form
 *********************#

#macro( writeForm $form )

<form method="POST" name="$form.name" action="$request.requestURI">
 <input type="hidden" name="form_name" value="$form.name"/>

 <table style="margin: 1em;">
 #foreach ($field in $form.fieldList)

  #if( !$field.hidden && !$field.valid )
  <tr>
   <td>&nbsp;</td>
   <td style="color: red;" align="left"> $field.error </td>
  </tr>
  #end

  #if( $form.error ) 
  <tr>
   <td colspan="2" style="color: red;" align="left"> $form.error </td>
  </tr>
  #end

  #if( !$field.hidden )
  <tr>
   <td align="right"> 
    #if( $field.required ) 
     <span style="font-weight: 700;">$field.label</span>:
    #else
     $field.label:
    #end
   </td> 
   <td> $field </td>
  </tr>
  #end
 #end

  <tr><td>&nbsp;</td></tr>

  <tr>
   <td>&nbsp;</td>
   <td align="left">
   #foreach ($button in $form.buttonList)
    $button 
   #end
   </td>
  </tr> 
 </table> 
 
</form>

#end

#end


#***********************************
 * Write source inspection toolbar
 **********************************#

#macro( writeSourceToolbar $java $html )

<a href="$context/source-viewer.htm?filename=WEB-INF/src/$java">Page</a>,
<a href="$context/source-viewer.htm?filename=$html">HTML</a>,
<a href="$context/source-viewer.htm?filename=WEB-INF/click.xml">Click</a>,
<a href="$context/source-viewer.htm?filename=WEB-INF/web.xml">Web</a>,
<a href="$context/index.html">Examples</a>

<hr>
<br>

#end
