
#*********************
 * Write generic form
 *********************#

#macro( writeForm $form )
	
$form.startTag()	

 <table style="margin: 1em;">
  #if ($form.error) 
  <tr>
   <td colspan="2" style="color: red;" align="left"> $form.error </td>
  </tr>
  #end
  
 ## Render visible fields
 #foreach ($field in $form.fieldList)

  #if (!$field.hidden)
   #if (!$field.valid) 
   <tr>
    <td>&nbsp;</td>
    <td style="color: red;" align="left"> $field.error </td>
   </tr>
   #end

   <tr>
    <td align="right"> 
    #if ($field.required) 
     <span style="font-weight: 700;">$field.label</span>:
    #else
     $field.label:
    #end
    </td> 
    <td> $field </td>
   </tr>
  #end
 #end

  <tr><td>&nbsp;</td></tr>

  ## Render buttons
  <tr>
   <td>&nbsp;</td>
   <td align="left">
   #foreach ($button in $form.buttonList)
    $button 
   #end
   </td>
  </tr> 
 </table> 
 
$form.endTag()

#end


#*********************************
 * Write drop down JavaScrip menu
 *********************************#

#macro( writeMenu $rootMenu )

<table id="menuTable" border="0" width="100%" cellspacing="0" cellpadding="0" style="margin-top: 2px;">
 <tr>
  <td>
 <div id="menu">
  <ul class="menubar" id="dmenu">
    #foreach ($topMenu in $rootMenu.children)
      #if ($topMenu.isUserInRoles())
        #if ($topMenu.children.empty)
		  <li class="topitem"><a href="$context/$topMenu.path" title="$topMenu.title">$topMenu.label</a>
        #else
		  <li class="topitem"><a #if($topMenu.path != "") href="$context/$topMenu.path" #else href="#" #end title="$topMenu.title">$topMenu.label</a>
		    <ul class="submenu"
            #foreach ($subMenu in $topMenu.children)
              ><li><a href="$context/$subMenu.path" title="$subMenu.title">$subMenu.label</a></li
		    #end
            ></ul>
		  </li>
        #end
      #end
    #end
  </ul>
 </div>
  </td>
 </tr>
</table>

#end


