<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
    
<beans>
    
    <bean id="bookingService" class="net.sf.click.examples.service.BookingService"/>
    
    <bean id="clientService" class="net.sf.click.examples.service.ClientService"/>
    
    <bean id="customerService" class="net.sf.click.examples.service.CustomerService"/>
    
    <bean id="userService" class="net.sf.click.examples.service.UserService"/>

</beans>