You are currently not logged in. You need to be authenticated to use this application.
<p/>

      
#if ($request.getParameter("auth-error"))
<div style="margin-bottom:1em;margin-top:1em;margin-left:0.5em;color:red;">
    Invalid User Name or Password, please try again.<br/>
    Please ensure Caps Lock is off.
</div>
#end

<form method="post" action="j_security_check" name="form">
<table border="0" style="margin-left:0.25em;">
    <tr>
       <td><label>User Name</label></td>
       <td><input type="text" name="j_username" maxlength="20" style="width:150px;" value=""/></td>
       <td>&nbsp;</td>
    </tr>
    <tr>
       <td><label>User Password</label></td>
       <td><input type="password" name="j_password" maxlength="20" style="width:150px;" value=""/></td>
       <td><input type="image" src="$context/assets/login.png" title="Click to Login"/></td>
    </tr>
</table>
</form>
<script type="text/javascript">
	document.form.j_username.focus(); 
</script>



<p class="info" style="margin-top:3em;margin-bottom:0em;">User accounts include:</p>

<ul style="margin-top:0.25em;">
 <li class="info">user1 / password &nbsp; - which has 'user' role privileges</li> 
 <li class="info">admin1 / password &nbsp; - which has 'admin' role privileges</li> 
</ul>
