/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* 
 * Border template specific styles. 
 */
body {
	background: #585858;
	color: #000000;
	font-family: Arial, Helvetica, "Sans Serif";
	margin: 12px 12px 12px 12px;
}

table.page {
	border: 1px solid #202020;
	border-collapse: collapse;
	background: #ffffff;
	width: 990px;
}

td.title-icon {
	vertical-align: bottom;
	padding-left: 14px;
	padding-right: 12px;
	padding-top: 10px;
	padding-bottom: 6px;
}

td.title-left {
	color: navy;
	font-size: 24pt;
	font-weight: bolder;
	vertical-align: middle;
	white-space: nowrap;
}

td.title-hosted p, td.title-hosted a {
	color: navy;
	font-size: 8pt;
	margin: 1em;
	text-align:right;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

td.header-color {
	background-color: #334ECF;
	font-size: 9pt;
}

td.content {
	font-size: 10pt;
	padding: 15px;
	border-collapse: separate;
}

#msgDiv {
	background-color: #f0f0f0;
	border: thin solid navy;
	margin: 1em;
	margin-left: 0em;
	margin-right: 2em;
	padding: 1em;
}

.infoMsg {
	border: 1px solid #a7bcd6;
	background-color: #ffffc0;
	margin: 0.5em;
	padding: 0.5em;
}

td, th {
	font-size: 9pt;
}

a:visited {
	color: blue;
}

a.external {
  background: url(/click-examples/assets/images/external.png) center right no-repeat;
  padding-right: 14px;
}

/*
 * Table styles
 */
table.complex td, table.complex th, table.isi td, table.isi th, table.its td, table.its th, table.mars td, table.mars th, table.nocol td, table.nocol th, table.simple td, table.simple th, table.simple input, table.simple select, table.report td, table.report th {
	font-size: 9pt;
}

span.pagebanner, span.pagelinks {
	font-size: 9pt;
}

table input {
	font-size: 9pt;
}

/*
 * Form styles
 */
table.errors td, table.fields td, table.fields label, table.fields input, table.fields select, table.fields textarea, table.buttons input {
	font-size: 9pt;
}

/*
 * Tabbed Panel styles
 */
a.tb_label {
	font-size: 9pt;
}

/*
 * Example Styles
 */
.code, .codeConfig, .codeDtd, .codeJava, .codeHtml {
	font-family: Courier New, courier;
	font-size: 9pt;
	border: 1px solid #AAAAAA;
	background-color: #FAFAFA;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-left: 0em;
	margin-right: 1.5em;
	white-space: pre;
}

.codeJava {
	font-family: Courier New, courier;
	border: 1px solid #AAAAAA;
	background-color: white;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-right: 1.5em;
	white-space: pre;
}

.codeHtml 
{
	border: 1px solid #97A9FF;
	background-color: white;
}

/* Java keyword. */
.kw {
    color: #7f0055;
    font-weight: bold;
}

/* Javadoc */
.jd {
    color: #3f5fbf;
}

/* Java comment */
.cm {
    color: #3f7f5f;
}

/* Java String literal */
.st {
    color: #2a00ff;
}
.red { color: red; }

.green { color: green; }

.blue { color: blue; }

.maroon { color: maroon; }

.navy { color: navy; }

/* Menu Control css */

.menustyle {
    font: 11px arial, helvetica, lucida-sans, sans-serif;
    line-height: 15px; 
    height: 28px; 
    background: #d0d0d0; 
    color: #d0d0d0; 
    padding: 0; 
    margin: 0;
}
.menustyle .menubar {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 
.menustyle .topitem {
    background: #d0d0d0; 
    font-weight: normal;
    float: left;
    display: block;
    margin-top: 1px;
    margin-left: 0px;
} 
.menustyle .topitem a, .menustyle .topitem a:visited {
    font-weight: normal;
    color: #000; 
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    display: block; 
    text-decoration: none; 
    border: 1px solid #d0d0d0; 
    vertical-align: middle;
}
.menustyle .topitem a:hover {
    font-weight: normal;
    text-decoration: none;     
    color: blue; 
    border-top: 1px solid #f0f0f0; 
    border-left: 1px solid #f0f0f0; 
    border-bottom: 1px solid #707070; 
    border-right: 1px solid #707070; 
}
/* Uncomment to highlight the selecte menu item
.menustyle .selected {
    font-weight: normal;
    background: #afaea9 repeat-x left;
}
*/
.menustyle img.link {
    vertical-align: middle;
}
.menustyle ul.submenu {
    list-style-type: none; 
    position: absolute; 
    margin: 0; 
    padding: 0; 
    display: none; 
    width: 160px;  
    z-index: 255;
    border-top: 1px solid #f0f0f0; 
    border-left: 1px solid #f0f0f0; 
    border-bottom: 1px solid #909090; 
    border-right: 1px solid #909090;  
} 
.menustyle ul.submenu li {
    padding: 0; 
    margin: 0; 
    font-size: 11px;
} 
.menustyle ul.submenu li a, .menustyle ul.submenu li a:visited {
    vertical-align: middle;
    padding: 3px 3px 0px 16px; 
    color: #000; 
    border: 1px solid #d0d0d0; 
    text-decoration: none; 
    margin: 0;
}
.menustyle ul.submenu li img {
    vertical-align: middle;
}
.menustyle ul.submenu li a:hover {
    vertical-align: middle;
    padding: 3px 3px 0px 16px; 
    text-decoration: none; 
    background: #fff; 
    color: #000; 
    border: 1px solid #3699dd; 
}
.menustyle li:hover ul, .menustyle li.over ul {
    margin: 0; 
    padding: 4px; 
    display: block; 
    background: #d0d0d0;
    zoom: 1;
} 
.menustyle li>ul {
    top: auto; left: auto;
}

