/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.sites {
    margin-left: 0;
    padding-left: 0;
}
.sites td {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 5px;
}
.powered_by {
    background: #EFEFF7;
    padding: 4px;
    padding-left: 8px;
    border: 1px solid #99A4DF;
    font-weight: bold;
    color: blue;
}
.powered_by a:link, .powered_by a:visited {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
}
.powered_by a:focus, .powered_by a:hover, .powered_by a:active {
    color: blue;
    border-bottom: 1px solid blue;
}
img {
  display: block;
  margin: 0 auto 5px auto;
  border: 1px solid #ccc;
}
.thumbnail a {
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 10px 5px;
  padding: 3px 3px 6px 3px;
  width: 81px;
}
.thumbnail a:hover {
  background-color: #eee;
}
